datasets==4.0.0
huggingface_hub==0.30.2
jupyter==1.1.1
matplotlib==3.10.1
medclip==0.0.3
numpy==2.2.4
open-clip-torch[training]==3.0.0
pandas==2.2.3
Pillow==11.1.0
safetensors==0.5.3
scikit_learn==1.6.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.54.1
